*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(62, 2, 119);
    display: flex;
    /* align-content: center; */
    justify-content: center;
}
.app{
    margin-top: 100px;
    width: 60%;
    height: 150px;
    padding-top: 10px;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 130px;
    background-color: antiquewhite;
}
.quiz{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap:8px;
}
#ansbutton{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:4px;
}
.nextbtn{
    font-size: 12px;
    font-weight: 700;
    background-color: brown;
    color:white;
    border-radius: 5px;
    padding:5px;
}
#a{
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn{
    padding: 8px;
    border-radius: 5px;
    padding-left:5px ;
    display: flex;
    justify-content: start;
    transition: all 2s;
}
.btn:hover{
    background-color: black;
    color: white;
}