body{
    height: 100%;
    width: 100%;
}
.container{
    max-width: 95vw;
    padding: 2rem;
    margin: 0;
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    font-weight: bold;
    font-style: italic;
}
a{
    text-decoration: none;
}