*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.back{
    background-image: url("abcd.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}