@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{  
    color: white;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}
body{
    background:url("https://cdn.pixabay.com/photo/2017/03/05/21/43/mountains-2120004_1280.jpg");
}
nav{
    background-color: rgb(236, 97, 97);
}
ul{
    display: flex;
    list-style-type:none;
}
ul li{
    margin: 0 13px;
}
table{
    padding: 5px;
    margin-left: 20px;
    border: 2px solid rgb(255, 251, 251);
    border-collapse: collapse;
}
th{
    padding: 10px;
    border-collapse: collapse;
    padding-left:20px ;
    padding-right: 20px;
    border: 1px solid rgb(255, 251, 251);
    /* border:2px solid black; */
}
tr,td{
    padding: 5px;
    border-collapse: collapse;
    border: 1px solid rgb(255, 251, 251);
    /* border: 1px solid black; */
}
.Submit{
    padding: 5px;
    border-radius: 25%;
    background-color: black;
    cursor: pointer;
}
.container{
    margin-left: 40px;
}
input{
    background-color: black;
}
img{
    cursor: pointer;
}